body{
    background-color: rgba(0, 0, 0, 0.945);
    font-family: 'Poppins', sans-serif;
    color: aliceblue;
    margin: 0;
    padding: 0;
}
.navbarbar{
z-index: 9999;


}
li{
display: inline;

}

.cert{
    display: block; 
    min-height: 300px;
    min-width:350px; 
    width:55%;
    height: 360px;
    margin: 0 auto;
}



.roundimage{
    box-sizing: border-box;
    height: 70%;
   
    width: 70%;
    min-width: 340px;
    display: block;
    margin: auto;
    border-radius: 50%;
   
 
}
.progcircle{
   height: 200px;
    
    
}

.bgimg{
background-image: url("images/bg4.jpg");
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
top: 0;
bottom: 0;
right: 0;
left: 0;
background-repeat: no-repeat;
background-position: center;
background-attachment: fixed;
position: fixed;
z-index: -1;
}

.education{
   
    border-radius: 50px;
    padding: 10px;
}

.entry{
    opacity: 0.0;
}
    
html {
    scroll-behavior: smooth;
  }

  .contactbg{
    background-color: rgb(1, 22, 41);
    color: white;
  }


  .icon li{
    margin-right: 20px;

  }



