.background_style{
    background-color: rgb(245, 245, 245);
    margin: 0;
    padding: 0;
    
    font-family: 'Poppins', sans-serif;
    }
    
    .bgimg{
        background-size: cover;
        background-image: url("images/bg.jpg");
    
    
        /* Add the blur effect */
        filter: blur(5px);
        -webkit-filter: blur(5px);
      
        /* Full height */
        height: 100%;
      
        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .listContact li{
    margin-left: 50px;
    
    }
    
    .name{
      
        text-align: center; 
        height: 500px; 
    
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
        color: white;
        font-weight: bold;
        border: 3px solid #f1f1f1;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        width: 80%;
        padding: 50px;
        padding-top: 170px;
        text-align: center;
    
    }
    
    .namefont{
    font-weight: 600;
    font-size: 80px;
    }
    
    
    .cri{
        display: flex;
        text-align: center; 
        box-sizing: border-box;
       
        justify-content: center;
        align-items: center;
    
    }
    
    .crifont{
        font-weight: 600;
        font-size: 40px;
    }
    .cri_images{
        width: 270px;
        height: 200px;
    }
    
    .skill_font{
        font-weight: 600;
        font-size: 45px;
    }
    .skills_font{
        font-weight: 500;
        font-size: 30px;
    }
    
    .education_font{
        font-weight: 500;
        font-size: 30px;
    }
    
    .contact_font{
        font-weight: 500;
        font-size: 30px;
    }
    
    .images{
        min-width: 260px;
        min-height: 380px;
        width: 70vw;
        height: 70vh;
        box-sizing: border-box;
        padding: 100px;
    
    }
    
    .carousel-control-next,
    .carousel-control-prev {
        filter: invert(100%);
    }
    @media only screen and (max-width: 880px) {
        
        .namefont{
            font-size: 35px; 
        }
        .images{
        
            padding: 30px;
        
        }
        .contact_font{
        
            font-size: 20px;
        }
    
      }
    
    
      @media only screen and (max-width: 1000px) {
        
      
        .crifont{
        
            font-size: 25px;
        }
    
        .education_font{
          
            font-size: 23px;
        }
    
      }
    
      @media only screen and (max-width: 500px) {
        
        .images{
          
            width: 65vw;
            height: 50vh;
            padding:13px;
        } 
        .contact_font{
        
            font-size: 20px;
        }
        .llss{
            margin-left: 0px;
            
            justify-content: center;
        }
    
      }
    
    
    
    
    
    
    
    
    
    
    
    
    