body{
    background-color: rgba(0, 0, 0, 0.858);
    font-family: 'Poppins', sans-serif;
    color: aliceblue;
}
.navbarbar{
z-index: 9999;

font-family: 'Poppins', sans-serif;

}




.roundimage{
    box-sizing: border-box;
    height: 70%;
    width: 500px;
    border-radius: 50%;
    display: block;
    margin: auto;
}
.progcircle{
   height: 200px;
    
    
}

.bgimg{
background-image: url("images/bg.jpg");
position: fixed;


top: 0;
left: 0;
right: 0;
bottom: 0;


background-size:cover;
background-repeat: no-repeat;
-webkit-filter: blur(5px);
-moz-filter: blur(5px);
 -o-filter: blur(5px);
 -ms-filter: blur(5px);
 filter: blur(5px);
 z-index: -1;

}
    



